* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f3f4f6 !important;
    font-family: 'Nunito', sans-serif;
    color: #717c8a !important
}

a {
    color: #717c8a !important;
    text-decoration: none;
}

#app {
    display: flex;
    flex-wrap: wrap;
}

#main {
    flex: 1 80vw;
    padding: 5px 20px 5px 20px;
}

#navBar {
    background-color: #FFF;
    height: 7vh;
    border-bottom: #f0ebeb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 5px;
}

#aside {
    background-color: #FFF;
    flex: 1 10vw;
    height: 100vmin !important;
}

#aside ul {
    padding: 00px;
}

#aside ul li {
    list-style: none;
    padding: 10px 10px 10px 15px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.1rem;
}

#aside ul li:hover {
    background-color: #f7e6ca;
    border-right: #EDA426;
    color: #CC6613 !important;
    border-right-style: solid;
    border-right-width: 5px;
}

#aside ul li a {
    text-decoration: none;
}

#conteudo {
    flex: 20;
}

#footer {
    flex: 1;
    height: 50px;
    flex: 1 100vw;
}

.mycard {
    background-color: #FFF;
    border-radius: 6px;
    padding: 12px;
}

#logo {
    text-align: center;
}

#logo img {
    width: 120px;
    text-align: center;
}

#navBar {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#navBar img {
    margin: 0px 0px 0px 3%
}

#navBar {
    text-decoration: none;
    justify-content: end;
}

#navBar ul {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 7px;
}

#navBar ul li a {
    text-decoration: none;
}

#navBar ul li {
    list-style: none;
    padding: 10px 10px 10px 15px;
    margin-top: 10px;
}

#navBar ul li:hover {
    border-bottom: #F1C058;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}


.text-laranja {
    color: #E78819 !important;
}

.text-laranja-2 {
    color: #EDA426 !important;
}

.text-laranja-3 {
    color: #CC6613 !important;
}

.btn-laranja {
    background-color: #E78819 !important;
    color: #FFF !important;
}

.btn-laranja:hover {
    background-color: #CC6613 !important;
}

.btn-laranja:disabled {
    background-color: #FBEDCA !important;
}

.btn-laranja:active {
    background-color: #AA4713 !important;
}